<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prototype page</title>
    <meta name="description" content="TODO" />
  </head>

  <body>
    <div class="screen-container">
      <div class="page-container">
        <header class="top-nav">
          <nav class="menu">
            <a class="inner-page" href="javascript:void(0);" onclick="myFunction()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewbox="0 0 24 24">
                <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z" />
              </svg>
            </a>
          </nav>
          <nav class="search-box">
            <input type="text" name="query" placeholder="Sök stad, ort eller plats" />
          </nav>
          <nav class="filter">
            <a class="inner-page" href="javascript:void(0);" onclick="myFunction()">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewbox="0 0 24 24">
                <path
                  d="M6 18h-2v5h-2v-5h-2v-3h6v3zm-2-17h-2v12h2v-12zm11 7h-6v3h2v12h2v-12h2v-3zm-2-7h-2v5h2v-5zm11 14h-6v3h2v5h2v-5h2v-3zm-2-14h-2v12h2v-12z"
                />
              </svg>
            </a>
          </nav>
        </header>

        <header class="search-result inner-page">
          <div class="search-result-query">
            Uppsala, Uppsala kommun
          </div>
          <div class="search-result-no-hits hidden">
            Ingen stad, plats, eller arrangör med detta namn finns. Prova en ny sökning.
          </div>
          <div class="search-result-many-hits hidden">
            Det finns fler än en träff med detta namn. Välj vilken du vill visa.
            <ul>
              <li>Uppsala, Uppsala kommun</li>
              <li>Uppsala, Gräddö kommun</li>
            </ul>
          </div>
          <div class="search-result-one-hit">
            <div class="search-result-distance">
              <input type="range" min="1" max="100" value="10" class="distance-slider page-width" id="distance_range" />
            </div>
            <div>
              Visar 1294 evenemang inom <span id="distance_value">100</span>
              km
            </div>
          </div>
        </header>

        <div id="app">
          <!-- Application will be mounted here -->
        </div>
      </div>
    </div>

    <script>
      // Should be same value as transition delay in css!
      const eventAnimationDelay = 350;
      const eventCategoryAnimationDelay = 350;

      let events = [];

      let currentSelectedEvent = null;

      /* -------------------------------------------------------------------------------------- */

      const randomElementFromArray = (arr) => arr[Math.floor(Math.random() * arr.length)];

      /* -------------------------------------------------------------------------------------- */

      /* -------------------------------------------------------------------------------------- */

      const randomSubCategory = (key, allSubCategories) => {
        const subCategories = allSubCategories[key];
        if (!subCategories) {
          return '';
        }
        // console.log('subCategories', subCategories);
        return subCategories[Math.floor(Math.random() * subCategories.length)];
      };

      const createSampleData = () => {
        const createSampleEvent = (data) => {
          return {
            id: data.id.toString(),
            date: data.date,
            title: `Event ${data.id}`,
            category: data.category,
            subCategory1: data.subCategory1,
            subCategory2: data.subCategory2,
            subCategory3: data.subCategory3,
            className: data.category.toLowerCase(),
            isFilteredOut: false,
            isHidden: false,
            isSelected: false,
            details: data.details,
          };
        };
        const sampleCategories = ['Sport', 'Musik', 'Museum', 'Barn'];
        const sampleSubCategories1 = { Sport: ['Handboll', 'Fotboll'], Musik: ['Rock', 'Jazz'] };
        const sampleSubCategories2 = { Handboll: ['Herr', 'Dam'], Fotboll: ['Herr', 'Dam'] };
        const sampleSubCategories3 = { Herr: ['Division 1', 'Division 2'], Dam: ['Division 1', 'Division 2'] };

        const sampleEventDetails =
          'x\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nxx\nx\n\nx\nabc';
        const sampleDates = [
          '2020-03-01 00:00:00:000',
          '2020-03-02 00:00:00:000',
          '2020-03-03 00:00:00:000',
          '2020-03-04 00:00:00:000',
          '2020-03-05 00:00:00:000',
          '2020-03-06 00:00:00:000',
          '2020-03-07 00:00:00:000',
        ];

        const numOfEvents = 50;
        const tempEvents = [];

        for (let i = 0; i < numOfEvents; i += 1) {
          const sampleDate = new Date(randomElementFromArray(sampleDates));
          const id = i + 1;
          const date = sampleDate;
          const category = randomElementFromArray(sampleCategories);
          const subCategory1 = randomSubCategory(category, sampleSubCategories1);
          const subCategory2 = randomSubCategory(subCategory1, sampleSubCategories2);
          const subCategory3 = randomSubCategory(subCategory2, sampleSubCategories3);
          // console.log('subCategory1', subCategory1);
          const event = createSampleEvent({
            id,
            date,
            category,
            subCategory1,
            subCategory2,
            subCategory3,
            details: sampleEventDetails,
          });
          tempEvents.push(event);
        }

        events = tempEvents.sort((a, b) => (a.date > b.date ? 1 : -1));
        events.forEach((event, index) => {
          event.id = index + 1;
          event.title = `Event ${index + 1}`;
        });
      };

      /* -------------------------------------------------------------------------------------- */

      const getHeightOfHiddenElement = function (elem) {
        elem.style.display = 'block'; // Make it visible
        const height = elem.scrollHeight + 'px'; // Get it's height
        elem.style.display = ''; //  Hide it again
        return height;
      };

      /* -------------------------------------------------------------------------------------- */

      const selectEvent = (event, isFirstSelection = false) => {
        console.log('selectEvent', event, isFirstSelection);

        if (!event) {
          return;
        }
        event.isSelected = true;
        currentSelectedEvent = event;

        const eventElem = document.getElementById('event-' + event.id);
        eventElem.classList.toggle('is-selected', true);
        const eventDetailsElem = document.getElementById('event-details-' + event.id);

        // const doAnimate = true;
        if (typeof doAnimate !== 'undefined') {
          // animateEventSelection(eventElem, eventDetailsElem, isFirstSelection);
        } else {
          // const scrollBehavior = isFirstSelection ? 'auto' : 'smooth';
          eventDetailsElem.classList.toggle('is-visible', true); // Make the element visible
          const topOfElement = eventElem.offsetTop - 53;
          window.scroll({ top: topOfElement, behavior: 'smooth' });

          /* const scrollBehavior = isFirstSelection ? 'smooth' : 'smooth';
          window.setTimeout(function () {
            eventElem.scrollIntoView({ behavior: scrollBehavior });
            console.log('scrollIntoView:', scrollBehavior);
            var height = getHeightOfHiddenElement(eventDetailsElem); // Get the natural height
            eventDetailsElem.classList.toggle('is-visible', true); // Make the element visible
            eventDetailsElem.style.height = height; // Update the max-height
          }, 1);

          window.setTimeout(function () {
            eventDetailsElem.style.height = '';
            eventElem.scrollIntoView({ behavior: scrollBehavior });
            console.log('scrollIntoView:', scrollBehavior);
            window.scrollBy(0, -53);
          }, 350); */

          // eventDetailsElem.style.height = height; // Update the max-height

          /*           eventDetailsElem.classList.toggle('is-visible', true); // Make the element visible
          const scrollBehavior = isFirstSelection ? 'auto' : 'smooth';
          eventElem.scrollIntoView({ behavior: scrollBehavior });
          window.scrollBy(0, -53); */
        }

        // todo: only hide the date header closest above selected event!
        /*         const eventDateHeaderElems = document.getElementsByClassName('event-date-header');
        for (let item of eventDateHeaderElems) {
          item.classList.toggle('hidden', true);
        } */
      };

      /* -------------------------------------------------------------------------------------- */

      const animateEventSelection = (eventElem, eventDetailsElem, isFirstSelection) => {
        // When switching from one selected event to another, the hiding of the first event has been animated.
        // A smoother scrollIntoView of the newly selected event does not look good. A faster scroll (auto) looks better.
        const scrollBehavior = isFirstSelection ? 'auto' : 'smooth';
        console.log('scrollIntoView behavior:', scrollBehavior);

        window.setTimeout(function () {
          eventElem.scrollIntoView({ behavior: scrollBehavior });
          var height = getHeightOfHiddenElement(eventDetailsElem); // Get the natural height
          eventDetailsElem.classList.toggle('is-visible', true); // Make the element visible
          eventDetailsElem.style.height = height; // Update the max-height
        }, 1);

        // Once the transition is complete, remove the inline max-height so the content can scale responsively
        window.setTimeout(function () {
          eventDetailsElem.style.height = '';
          eventElem.scrollIntoView({ behavior: scrollBehavior });
          window.scrollBy(0, -53);
        }, eventAnimationDelay);
      };

      /* -------------------------------------------------------------------------------------- */

      const deselectEvent = (event) => {
        console.log('deselectEvent', event);

        if (!event) {
          return;
        }
        event.isSelected = false;
        currentSelectedEvent = null;

        const eventElem = document.getElementById('event-' + event.id);
        const eventDetailsElem = document.getElementById('event-details-' + event.id);

        if (typeof doAnimate !== 'undefined') {
          animateEventDeselection(eventElem, eventDetailsElem);
        } else {
          eventDetailsElem.classList.toggle('is-visible', false);
          eventElem.classList.toggle('is-selected', false);
          // todo: reset href to something valid!
          // window.location.href = 'http://localhost:8080/prototype.html';
        }
      };

      /* -------------------------------------------------------------------------------------- */

      const animateEventDeselection = (eventElem, eventDetailsElem) => {
        // Give the element a height to change from
        eventDetailsElem.style.height = eventDetailsElem.scrollHeight + 'px';
        // Set the height back to 0
        window.setTimeout(function () {
          eventDetailsElem.style.height = '0';
        }, 1);
        // When the transition is complete, hide it
        window.setTimeout(function () {
          eventDetailsElem.classList.toggle('is-visible', false);
          eventElem.classList.toggle('is-selected', false);
        }, eventAnimationDelay);
      };

      /* -------------------------------------------------------------------------------------- */

      const getEvent = (eventId) => {
        const eventIdNumber = Number(eventId);
        return events.find((obj) => obj.id === eventIdNumber);
      };

      /* -------------------------------------------------------------------------------------- */

      const clickEvent = (eventId, domEvent) => {
        console.log('clickEvent', eventId, domEvent);

        const event = getEvent(eventId);
        console.log('event', event);
        if (event.isSelected) {
          // Deselect an event that was already selected!
          deselectEvent(event);
        } else if (currentSelectedEvent) {
          // Switch selection from one event to another!
          deselectEvent(currentSelectedEvent);
          selectEvent(event, true);
        } else {
          // Select event when no other event is currently selected!
          selectEvent(event);
        }
        domEvent.stopPropagation();
      };

      /* -------------------------------------------------------------------------------------- */
      function isElementInViewport(el) {
        // Special bonus for those using jQuery
        if (typeof jQuery === 'function' && el instanceof jQuery) {
          el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) /* or $(window).height() */ &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
        );
      }

      const toggleEventCategory = (categories, eventTextId, domEvent) => {
        console.log('toggleEventCategory', categories, eventTextId, domEvent);

        const eventId = parseInt(eventTextId);
        const event = getEvent(eventId);
        console.log('event', event);

        const doFilterOut = event.isFilteredOut ? false : true;
        console.log('doFilterOut', doFilterOut);

        const qCategory = categories[0];
        const qSubCategory1 = categories[1];
        const qSubCategory2 = categories[2];
        const qSubCategory3 = categories[3];
        console.log([qCategory, qSubCategory1, qSubCategory2, qSubCategory3]);

        events.forEach((eventItem, index) => {
          console.log([eventItem.category, eventItem.subCategory1, eventItem.subCategory2, eventItem.subCategory3]);
          // return statment equal to continue since .forEach uses callbacks internally!
          if (eventItem.category !== qCategory) {
            return;
          }
          if (qSubCategory1 && eventItem.subCategory1 !== qSubCategory1) {
            return;
          }
          if (qSubCategory2 && eventItem.subCategory2 !== qSubCategory2) {
            return;
          }
          if (qSubCategory3 && eventItem.subCategory3 !== qSubCategory3) {
            return;
          }

          const eventContainerElem = document.getElementById('event-container-' + eventItem.id);
          const eventElem = document.getElementById('event-' + eventItem.id);
          eventItem.isFilteredOut = doFilterOut;
          eventElem.classList.toggle('is-filtered-out', doFilterOut);

          const isVisible = isElementInViewport(eventElem);
          console.log('eventItem.id, isVisible', eventItem.id, isVisible);

          if (eventItem.id <= eventId) {
            return;
          }

          if (debug) {
            console.log('DEBUG: Dölj inte bortfiltrerade event, gråmarkera dom bara!');
            return;
          }

          // Only hide events below current event (eventId)!
          eventItem.isHidden = doFilterOut && eventItem.id > eventId ? true : false;
          console.log('doFilterOut, eventItem.id, eventId', doFilterOut, eventItem.id, eventId);
          console.log('eventItem.id > eventId', eventItem.id > eventId);
          console.log('typeof eventItem.id, typeof eventId', typeof eventItem.id, typeof eventId);
          console.log('event id: ' + eventItem.id + ', isHidden: ', eventItem.isHidden);

          if (eventItem.isHidden) {
            if (!isVisible) {
              // Do not animate not visible elements!
              eventElem.classList.toggle('is-hidden', eventItem.isHidden);
              eventContainerElem.classList.toggle('is-hidden', eventItem.isHidden);
              return;
            }

            // Give the element a height to change from
            eventElem.style.height = eventElem.scrollHeight + 'px';

            // Set the height back to 0
            window.setTimeout(function () {
              eventElem.style.height = '0';
            }, 1);
            window.setTimeout(function () {
              eventElem.classList.toggle('is-hidden', eventItem.isHidden);
              eventContainerElem.classList.toggle('is-hidden', eventItem.isHidden);
            }, eventCategoryAnimationDelay);
          } else {
            if (!isVisible) {
              // Do not animate not visible elements!
              eventElem.classList.toggle('is-hidden', eventItem.isHidden);
              eventContainerElem.classList.toggle('is-hidden', eventItem.isHidden);
              return;
            }

            window.setTimeout(function () {
              var height = getHeightOfHiddenElement(eventElem); // Get the natural height
              eventElem.classList.toggle('is-hidden', eventItem.isHidden); // Make the element visible
              eventContainerElem.classList.toggle('is-hidden', eventItem.isHidden);
              eventElem.style.height = height; // Update the max-height
            }, 1);

            // Once the transition is complete, remove the inline max-height so the content can scale responsively
            window.setTimeout(function () {
              eventElem.style.height = '';
              eventElem.classList.toggle('is-hidden', eventItem.isHidden);
              eventContainerElem.classList.toggle('is-hidden', eventItem.isHidden);
            }, eventCategoryAnimationDelay);
          }
        });
        domEvent.stopPropagation();
      };

      /* -------------------------------------------------------------------------------------- */

      const createEventDateHeaderText = (date) => {
        const options = { weekday: 'long', day: 'numeric', month: 'long' };
        const dateText = date.toLocaleDateString('sv-SE', options);
        return dateText;
      };

      const createEventDateText = (date) => {
        const options = { weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit' };
        const dateText = date.toLocaleDateString('sv-SE', options);
        return dateText;
      };

      const mountApplication = () => {
        createSampleData();

        const app = document.getElementById('app');

        const datesSeen = {};

        events.forEach((event, index) => {
          const dateHeaderText = createEventDateHeaderText(event.date);
          const dateText = createEventDateText(event.date);
          const showDateHeader = datesSeen[dateHeaderText] ? false : true;
          const dateHeaderClass = showDateHeader ? 'event-date-header' : 'event-date-header hidden';
          datesSeen[dateHeaderText] = true;
          const eventContainer = document.createElement('div');
          const mainCategory = event.category
            ? `<button onClick="toggleEventCategory(['${event.category}'], '${event.id}', event)">${event.category}</button>`
            : '';
          const subCategory1 = event.subCategory1
            ? `<button onClick="toggleEventCategory(['${event.category}', '${event.subCategory1}'], '${event.id}', event)">${event.subCategory1}</button>`
            : '';
          const subCategory2 = event.subCategory2
            ? `<button onClick="toggleEventCategory(['${event.category}', '${event.subCategory1}', '${event.subCategory2}'], '${event.id}', event)">${event.subCategory2}</button>`
            : '';
          const subCategory3 = event.subCategory3
            ? `<button onClick="toggleEventCategory(['${event.category}', '${event.subCategory1}', '${event.subCategory2}', '${event.subCategory3}'], '${event.id}', event)">${event.subCategory3}</button>`
            : '';

          const dateHeaderHtml = showDateHeader
            ? `<div class="${dateHeaderClass} capitalized" id="event-date-header-${event.id}">${dateHeaderText}</div>`
            : '';
          const repeatedHtml = `<div class="repeated-event" onClick="hideRepeatedEvent('${event.id}', event)"><span class="repeated-event-text">Återkommande (134 tillfällen) (Dölj...)</span><!-- <span class="hide-repeated-event">Dölj</span>--></div>`;

          // ${repeatedHtml}

          const eventHtml = `
            ${dateHeaderHtml}

            <div class="event-container" id="event-${event.id}" onClick="clickEvent('${event.id}', event)">
              
              <div class="event-layout-wrapper">

                <div class="event-layout-picture">
                  <img src="https://www.siriusfotboll.se/content/uploads/2015/03/iksirius_logo.png">
                </div>

                <div class="event-layout-summary">
                  <div class="event-summary-title-row">
                    <span class="event-summary-title">${event.title}</span>
                    <span class="event-summary-distance">2.1 km</span>
                  </div>
                  <div class="event-summary-date">${dateText}</div>
                  <div class="event-summary-location">Studenternas, Uppsala...</div>
                </div>

                <div class="event-layout-details" id="event-details-${event.id}">
                  <pre>${event.details}</pre>
                </div>

                <div class="event-layout-footer">
                  <section class="event-tags">
                  ${mainCategory}
                  ${subCategory1}
                  ${subCategory2}
                  ${subCategory3}
                  </section>
                </div>

              </div>

            </div>
            `;
          eventContainer.innerHTML = eventHtml;
          // app.appendChild(eventContainer);
          app.innerHTML += eventHtml;
        });
      };

      /* -------------------------------------------------------------------------------------- */

      const debug = false;

      window.onload = () => {
        mountApplication();
      };
    </script>
  </body>
</html>
